!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"
      = partial 'includes/devops-tools/carousel/modal.html.haml'

      = yield_content(:header)

      = yield_content(:comparison_table)

      = yield_content(:strips)

      = yield_content(:feature_comparison)

      .footer-container.fixed.margin-bottom50
        = image_tag "/images/devops-tools/footer-bars-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
        = image_tag "/images/devops-tools/footer-bars-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
        .row.justify-center.padding-vertical20
          .text

          = link_to "Get Your Free Trial", "/free-trial/", class: "button cta-btn"

      .footer-container
        = partial "includes/layout/footer"
