---
layout: handbook-page-toc
title: Ops Section Product Performance Indicators
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Intent

We are organizing for and regularly reviewing Performance Indicators (PIs) in order to enable a dialog between ourselves (all of R&D) about most effective use of our R&D efforts towards the most impactful improvements. As a result we should:
- focus on singular Performance Indicators
- focus on the art of the possible, what we can measure and react to quickly
- focus on business metrics, particularly SMAU
- prioritize for the intent of representing return on business investment (SMAU/GMAU that covers SaaS and Self-Managed) over the intent of building a rapid experimentation capability. This will have the practical effect of PMs prioritizing instrumentation and funnel building in Usage Ping over Snowplow.
- continue beyond measurement and review of our Performance Indicators to building a Growth Model, a Growth funnel and supporting metrics and segmentation

As a communication tool, Performance Indicators are only as useful as the range of the audience. As a result we should:
- store PI metrics, funnels, growth models, status and next steps handbook first
- expose our product groups to PI metrics regularly
- communicate transparently about adjustments to PIs within our groups
- reference PIs in planning issues and prioritization discussions

<%= performance_indicators('Ops Section') %>
